<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/">
              <span data-feather="home"></span>
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="shopping-cart"></span>
              Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="users"></span>
              Customers
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              Integrations
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved reports</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Current month
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Last quarter
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Social engagement
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Year-end sale
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{this.section}}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>

      {{!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> --}}

<div class="container">
  <main>
    <div class="row g-6">
        <div class="col-md-5 col-lg-4 order-md-last">
            <div class="row">
                <div class="col-sm-12">
                    <div id="preview-image" class="preview-images block2-pic hov-img0">

                    </div>
                </div>
            </div>
        </div>

      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Add new product</h4>
        <form class="needs-validation" novalidate
            action="/"
            method="POST"
            enctype="multipart/form-data"
        >
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="productName" class="form-label">Product name</label>
              <input type="text" class="form-control" name="productName" id="productName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid Product name is required.
              </div>
            </div>

            <div class="col-md-3">
              <label for="price" class="form-label">Price</label>
              <input type="number" class="form-control" name="price" id="price" placeholder="R" required>
              <div class="invalid-feedback">
                Price required.
              </div>
            </div>

            <div class="col-md-5">
              <label for="status" class="form-label">Status</label>
              <select class="form-select" name="status" id="status" required>
                <option value="">Choose...</option>
                <option value=true>Available</option>
                <option value=false>Unavailable</option>
              </select>
              <div class="invalid-feedback">
                Please select a status.
              </div>
            </div>

            <div class="col-md-3">
            <label for="gender" class="form-label">Gender</label>
            <div class="form-check ">
              <input id="Female" name="gender" value="Female" type="radio" class="form-check-input" checked required>
              <label class="form-check-label" for="Female">Female</label>
            </div>
            <div class="form-check">
              <input id="Male" name="gender" value="Male" type="radio" class="form-check-input" required>
              <label class="form-check-label" for="Male">Male</label>
            </div>
          </div>

            <div class="col-12">
              <label for="description" class="form-label">Description</label>
              <input type="text" class="form-control" name="description" id="description" placeholder="" value="">
            </div>


            <div class="col-md-5">
              <label for="popular" class="form-label">Popular</label>
              <select class="form-select" name="popular" id="popular" required>
                <option value="">Choose...</option>
                <option value="true">On Fire</option>
                <option value="false">Cold</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid popular status.
              </div>
            </div>
            <div class="col-md-5">
                  <label for="productImage" class="form-label">Product Image</label>
                  <input class="form-select" type="file" name="file" id="productImage" required>
                    <div class="invalid-feedback">
                        Please insert a valid product image.
                    </div>
            </div>

          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Insert</button>
        </form>
      </div>
    </div>
    </main>
    </div>

      <h2>Existing Products</h2>
      <div class="table-responsive">
        <table id="productList" class="table table-hover table-sm">
          <thead class="table-light">
            <tr>
              <th>#</th>
              <th>Product Name</th>
              <th>Price (R)</th>
              <th>Status</th>
              <th>Gender</th>
              <th>Display</th>
              <th>Description</th>
              <th>Popular</th>
              <th>Add By</th>
              <th>Date Added</th>
              <th>Last Modified</th>
            </tr>
          </thead> 

          <tbody>
          {{# each products}}
            <tr id="{{this._id}}">
              <td>{{@index}}</td>
              <td class="text" id="productName">{{this.productName}}</td>
              <td class="number" id="price">R{{this.price}}</td>
              <td class="select" id="status">{{status this.status}}</td>
              <td class="text" id="gender">{{this.gender}}</td>
              <td class="select" id="display">{{display this.display}}</td>
              <td class="text" id="description">{{this.description}}</td>
              <td class="select" id="popular">{{popular this.popular}}</td>
              <td>{{this.addedBy}}</td>
              <td>{{formatDate this.dateAdded}}</td>
              <td>{{formatDate this.lastModified}}</td>
            </tr>
          {{/each}}
            
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>


<script>


</script>
